includes:
  - phpstan-baseline.neon

parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - src

    ignoreErrors:
        -
            identifier: missingType.iterableValue
