parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    paths:
        - src
    excludes_analyse:
        - vendor

    ignoreErrors:
        -
            message: "#^Property Swarrot\\\\Processor\\\\Doctrine\\\\ConnectionProcessor\\:\\:\\$connections \\(array\\<Doctrine\\\\DBAL\\\\Connection\\>\\) does not accept array\\<object\\>\\.$#"
            count: 1
            path: src/Swarrot/Processor/Doctrine/ConnectionProcessor.php

        -
            message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
            count: 1
            path: src/Swarrot/Processor/Doctrine/ConnectionProcessor.php

        -
            message: "#^Method Swarrot\\\\Broker\\\\MessagePublisher\\\\PeclPackageMessagePublisher\\:\\:__construct\\(\\) has parameter \\$timeout with no typehint specified\\.$#"
            count: 1
            path: src/Swarrot/Broker/MessagePublisher/PeclPackageMessagePublisher.php

        -
            message: "#^Method Swarrot\\\\Broker\\\\MessagePublisher\\\\PhpAmqpLibMessagePublisher\\:\\:__construct\\(\\) has parameter \\$timeout with no typehint specified\\.$#"
            count: 1
            path: src/Swarrot/Broker/MessagePublisher/PhpAmqpLibMessagePublisher.php
        -
            message: "#^Parameter \\#1 \\$delivery_tag of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:basic_ack\\(\\) expects int, string given\\.$#"
            count: 1
            path: src/Swarrot/Broker/MessageProvider/PhpAmqpLibMessageProvider.php
        -
            message: "#^Parameter \\#1 \\$delivery_tag of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:basic_nack\\(\\) expects int, string given\\.$#"
            count: 1
            path: src/Swarrot/Broker/MessageProvider/PhpAmqpLibMessageProvider.php
