on: [push, pull_request]

name: Static analysis

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: PHP-CS-Fixer
        uses: docker://odolbeau/swarrot-phpqa:latest
        with:
            args: php-cs-fixer fix --dry-run --diff-format udiff -vvv
